<% layout("/layouts/boilerplate") %>

<style>
    /* Container for all filters */
    #filters {
        display: flex;
        flex-wrap: wrap; /* fixed typo */
        align-items: center;
    }
  
    /* Individual filter styling */
    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
  
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p{
        font-size: 0.8rem;
    }
    .tax-info{
        display: none;
    }

    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;
    }
  </style>
<body>  
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">  
        <button>Create New Listings</button>             
    </form> --> 
<!-- Filters Section -->
<div id="filters">
    <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic Cities</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
    </div>
    <div class="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
    </div>

    <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pools</p>
    </div>

    <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Campings</p>
    </div>
    <div class="filter">
        <i class="fa-solid fa-tractor"></i>
        <p>Farms</p>
    </div>

    <div class="filter">
        <i class="fa-regular fa-snowflake"></i>
        <p>Artic</p>
    </div>

    <div class="filter">
        <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
    </div>

    <div class="filter">
        <i class="fa-solid fa-sailboat"></i>
        <p>Boat</p>
    </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display Total after taxes</label>
          </div>
    </div>


</div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 mt-3">  
        <% for(let listing of allListings) { %>  
            <a href="/listings/<%=listing._id%>" class="listing-link">  
                <div class="card col listing-card">  
                    <div class="card" style="width: 20rem; border-radius: 15px;">  
                        <img src="<%= listing.image.url%>"   
                             class="card-img-top custom-img-border"   
                             alt="listing_image"   
                             style="height: 20rem; object-fit: cover;">  
                        <div class="card-img-overlay"></div>  
                        <div class="card-body">  
                            <p class="card-text">  
                                <b><%= listing.title %> <br></b>  
                                &#8377;<%=listing.price%>
                                <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
  
                            </p>  
                        </div>  
                    </div>  
                </div>  
            </a>  
        <% } %>  
    </div>  

    <style>  
        .custom-img-border {  
            border-top-left-radius: 15px;  /* Top left corner rounded */  
            border-top-right-radius: 15px; /* Top right corner rounded */  
            border-bottom-left-radius: 15px; /* Bottom left corner rounded */  
            border-bottom-right-radius: 15px; /* Bottom right corner rounded */  
        }  
    </style>  
</body>  
</html>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        // console.log(taxInfo);
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }
            else{
                info.style.display = "none";
            }
            
        }
    });
</script>